$header-height: 57px;
$sidebar-width: 250px;
$footer-height: 57px;
$authHeader-height: 57px;

$sidebar-text-color: #69bff8;
$sidebar-background-color: #070707;
$sidebar-menu-color: #E9ECEF;
$sidebar-menu-hover-color: #171717;
$sidebar-selected-border-color: #fff;
$sidebar-submenu-color: #CED4DA;
$sidebar-submenu-background-color: #2a3948;
$sidebar-submenu-hover-color: #E9ECEF;
$sidebar-submenu-hover-background-color: #171717;
$sidebar-menu-active-color: #E9ECEF;
$sidebar-menu-active-background-color: #171717;

$table-background-color: black;
$table-border-color: #1C1C1D;
$table-font-color: rgb(192, 192, 192);

$navbar-color: #FFFFFF;

$theme-color: #30C0AA;

$originalRed : #F74B4B ;
$originalOrange : #FD8900 ;
$originalYellow : #FFD162 ;
$originalGreen : #7BCC3A ;
$originalBlue : #0F9EDB ;
$originalPurple : #B648F6;

$cloudyRed : #DE5959 ;
$cloudyOrange : #E38417  ;
$cloudyYellow : #E6C26E ;
$cloudyGreen : #76B344  ;
$cloudyBlue : #2192C2 ;
$cloudyPurple : #AA56DB ;

$darkRed : #8C3C3C;
$darkOrange : #913D13;
$darkYellow : #99734D;
$darkGreen : #4F6228;
$darkBlue : #166970;
$darkPurple : #5B3A8A ;

$lightRed : #DEB1B1 ;
$lightOrange : #E3AE71;
$lightYellow : #E6DDCA;
$lightGreen : #9DB38B;
$lightBlue : #6EA9C2;
$lightPurple : #CAADDB;

@import './font.scss';

.footer {
    border-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    background: #fff;
    height: $footer-height;
    background-color: #171717;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}

/*
    DEMO STYLE
*/

button.-btn { 
    background-color:red;
}

body {
    font-family: 'Noto Sans KR', Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    // font-family: 'Arial';
    // background: #171717
    background: black;
    font-weight: 300;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    // color: rgb(192, 192, 192);;
    color: #E6C26E;
}

a:hover {
    // color: white;
    color: rgb(192, 192, 192);
    text-decoration: none;
}

.btn-outline-primary {
    color: black;
    border-color: #4F6228;
    background-color: #76B344;
    // background-color: transparent;
}

.btn-outline-primary:hover {
    color: rgb(192, 192, 192);
    background-color: #4F6228;
    border-color: #4F6228;
}

.btn-outline-primary:active {
    color: rgb(192, 192, 192);
    background-color: #4F6228 !important;
    border-color: #4F6228 !important;
}

.btn-outline-primary:focus {
    color: rgb(192, 192, 192);
    background-color: #4F6228 !important;
    border-color: #4F6228 !important;
}

.btn-outline-primary:visited {
    color: rgb(192, 192, 192);
    background-color: #4F6228 !important;
    border-color: #4F6228 !important;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    background-color: $table-background-color ;
    border: 1px solid $table-border-color ;
    color: white;
}

.input-group-append>.btn {
    background-color: #76B344;
    color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
.select:-webkit-autofill:focus {
    border: 1px solid $table-border-color;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px $table-background-color inset;

}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar{
    width: $sidebar-width;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    overflow-y: auto;
    z-index: 1000;
    background: $sidebar-background-color;
    color: $sidebar-text-color;
    transition: all 0.3s;
    
    &.active {
        margin-left: calc(-1 * #{$sidebar-width});
    }

    a.menu {
        color: $sidebar-menu-color;
        font-size:'1.5rem';
        padding:'.5rem 1rem';

        &:hover {
            background: $sidebar-menu-hover-color;
        }
    }

    a.submenu {
        color: $sidebar-submenu-color;
        background: $sidebar-submenu-background-color;
        &:hover {
            color: $sidebar-submenu-hover-color;
            background: $sidebar-submenu-hover-background-color;
        }
    }

    a.active {
        color: $sidebar-menu-active-color;
        background: $sidebar-menu-active-background-color;
        border-right: 4px solid $sidebar-selected-border-color;
    }
}

/* ---------------------------------------------------
    HEADER STYLE
----------------------------------------------------- */

#header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - #{$sidebar-width});
    transition: all 0.3s;
    opacity: 1;
    z-index: 998;
    justify-content: left;
    background-color: #171717;
    
    &.active {
        width: 100%;
    }

    /* ---------------------------------------------------
        navbar style append
    ----------------------------------------------------- */
    a.navbar-brand {
        color: $navbar-color;
        
    }
    a.svg {
        color:white
    }

}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - #{$sidebar-width});
    min-height: calc(100vh - #{$header-height});
    transition: all 0.3s;
    position: absolute;
    top: $header-height;
    right: 0;
    z-index: 997;
    
    &.active {
        width: 100%;
    }
}

/* ---------------------------------------------------
    INNER CONTENT STYLE
----------------------------------------------------- */

#innerContent {
    padding: 2rem;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

/* ---------------------------------------------------
    COMMON
----------------------------------------------------- */

a.homeButton {
    color: #fff !important;
    &.hover {
        color: #fff !important;
        cursor: 'pointer';
    }
}

/* Loading Screen class */
.kBribD {
    opacity: 0.7;
    top:0;
    bottom:0;
    position:fixed !important;
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    display: none;

    transition: all 0.3s;
    z-index: 999;

    &.active {
        width: 100%;
    }
}

#loadingOverlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    display: none;

    transition: all 0.3s;
    z-index: 1001;

    &.active {
        display: block;
        width: 100%;
    }
}

/* ---------------------------------------------------
    react-table style append
----------------------------------------------------- */
.ReactTable {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    // background-color: #262626;
    background-color: transparent;
    color: white;
}

.ReactTable .-loading {
    // background: red;
    background-color: rgba(0,0,0,0.5);

}

.ReactTable .rt-thead {
    // background-color: $table-background-color;
    background-color: transparent;
}

// .ReactTable .rt-table {
//     border: 1px solid $table-border-color;
// }

.ReactTable .rt-tr-group {
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
}

.ReactTable .-next {
    background-color: transparent;
}

.ReactTable .-previous {
    background-color: transparent;
}

.ReactTable .-pagination {
    color: white;
}

.ReactTable .-pagination .-btn {
    background-color:#191919 !important;
    color: white;
    // background-color:#76B344   !important;
    // color: black;
    // border-color: #4F6228;
}

.ReactTable .-pagination .-btn[disabled] {
    background-color:transparent !important;
    color: black;
}

.ReactTable .-pagination .-btn:hover {
    background-color: gainsboro !important;
    color: black !important;
}

.ReactTable .-pagination .-btn[disabled]:hover {
    background-color: transparent !important;
}

.ReactTable .-pageJump input, .-pagination select {
    background-color: $table-border-color !important;
    color: white;
    // background-color: #76B344 !important;
    // color: black;
}


/* ---------------------------------------------------
    react-quill style append
----------------------------------------------------- */

.ql-editor {
    height: 350px !important;
}

.ql-snow .ql-color-picker .ql-picker-label, .ql-snow .ql-icon-picker .ql-picker-label {
    padding: 0px 6px 0px 2px !important;
}

/* ---------------------------------------------------
    Auth Header
----------------------------------------------------- */
.authHeader {
    justify-content: left;
    border-bottom: 1px solid #DEE2E6;
}

.authContent {
    // height: calc(100vh - #{$authHeader-height}) !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.authButton {
    background-color: $theme-color;
    border-color: $theme-color;
}

.signUpButton {
    background-color: $theme-color;
    border-color: $theme-color;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: calc(-1 * #{$sidebar-width});

        &.active {
            margin-left: 0;
        }
    }
    #header {
        width: 100%;
        
        &.active {
            width: 100%;
            // right: calc(-1 * #{$sidebar-width});
        }
    }
    #content {
        width: 100%;
        
        &.active {
            width: 100%;
            // right: calc(-1 * #{$sidebar-width});
        }
    }
    #innerContent {
        padding: 1rem;
    }
    #overlay {
        &.active {
            display: block;
        }
    }
}

/* ---------------------------------------------------
    TAB
----------------------------------------------------- */

.tab-content {
    // border-left: 1px solid rgb(105, 105, 105);
    // border-right: 1px solid rgb(105, 105, 105);
    // border-bottom: 1px solid rgb(105, 105, 105);
    // border-top: 1px solid white;
    padding: 0px;
}

.nav-tabs {
    text-align: center;
    margin-bottom: 0;
    border-bottom: 1px solid $table-border-color;
}

.nav-tabs .nav-link {
    border: 1px solid $table-border-color;
}

.nav-tabs .nav-link.active {
    background: #1C1C1D;
    color: white;
    border: 1px solid $table-border-color;
}

.nav-tabs .nav-link:hover {
    color: white !important;
}

/* ---------------------------------------------------
    table
----------------------------------------------------- */

.table {
    border-collapse: collapse;
    border-right: 0px;
    border-left: 0px;
}

.table td, .table th, .table thead th{
    vertical-align: middle;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $table-background-color;
    border-color: $table-border-color;
    color: $table-font-color;
    border-right: 0px;
    border-left: 0px;
}

.card-footer {
    border-top: 0px;
}

/* ---------------------------------------------------
    Content card
----------------------------------------------------- */
.ContentCard {
    background-color: #ffff;
}

.dash-upper-line-card-title {
    font-size:1.1rem;
    color: #AAAAAA;
    font-family: arial black;
}

.dash-upper-line-card-value {
     font-size:1.75rem;
    // font-weight:bold;
    // color: #FFFFFF;
}

.card {
    background-color: #090909;
    border: 1px solid #1C1C1D;
}

.card-header {
    color: #FFFFFF;
    padding-top: '50px';
}


/* ---------------------------------------------------
    Login page background
----------------------------------------------------- */
.bg {
    background-image: url('/img/login_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}


/* ---------------------------------------------------
    general
----------------------------------------------------- */

.form-control {
    background-color: $table-background-color !important;
    border: 2px solid $table-border-color !important;
    color: silver;
}


.__react_component_tooltip:active, :focus {
    &::after{
        content: 'Copied!';
        display: none;

    }
}